<td><%= link_to user.name, user %></td>
<td><%= link_to user.email, user %></td>

<td>
  <% if current_user.try(:admin?) %>
    <%= link_to "Destroy", admin_destroy_user_path(user), method: :delete, data: { confirm: "You sure?" } %>
  <% end %>
</td>